/* Master Style for All Pages */
html{
    font-family: 'Montserrat', sans-serif;
}

h2{
    padding: 20px;
    border-bottom: 3px solid rgb(231, 231, 231);
}

footer{
    border-top: 3px solid hotpink;
    text-align: center;
}

button:hover{
    background-color: rgb(78, 255, 102);
}

button:active{
    background-color: rgb(59, 197, 78);
}


/* Nav Bar Adjustments */
.h1{
    font-size: xx-large;
    background-color: hotpink;
}

/* Index aka About Me aka Main Landing page */
.about-me-container{
    border: 2px solid black;
    overflow: auto;
}

.img-about-me{
    margin-right:20px;
    width:300px;
    height:300px;
    float:left;
}

/* Portfolio Page */

.portfolio-container{
    border: 3px solid hotpink;
    padding: 5px;
}

/* Portfolio image set */
.img-portfolio{
    width: 300px;
    height: 300px;
    margin: 5px;
    border: 3px solid rgb(236, 236, 236);
}

.img-portfolio:hover{
    border: 3px solid  rgb(78, 255, 102);
  }



/* Contact Page */
.contact-container{
    background-color: hotpink;
}

/* Submit Button in Contact Page */
button{
    width:100px;
    height:50px;
}

