.text-h1{
    font-size: 5rem;
}

.text-h2{
    font-size: 3rem ;
}
.hide{
    display: none;
}

.icons{
    font-size: 2rem;
}

#hover-work:hover{
    text-decoration:underline red;
    color: red;

}

#hover-about:hover{
    text-decoration:underline blue;
    color: blue;
}

#hover-design:hover{
    text-decoration:underline red;
    color: red;
}

#hover-code:hover{
    text-decoration:underline blue;
    color: blue;
}

#hover-here:hover{
    text-decoration:underline rgb(248, 236, 72);
    color:rgb(248, 236, 72);
}