*{
    font-family: 'Open Sans', sans-serif;
    
}

.card-title{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}

.about-icons{
    font-size: 3rem;
}

.text-home{
    font-size: 4.5rem;
    font-family: 'Playfair Display', serif;
}

.text-intro{
    font-size: 1rem;
}

.hide {
    display: none;
}

.contact-icons {
    font-size: 2rem;
}

#hover-work:hover {
    text-decoration: underline red;
    color: red;
}

#hover-about:hover {
    text-decoration: underline blue;
    color: blue;
}

#hover-design:hover {
    text-decoration: underline red;
    color: red;
}

#hover-code:hover {
    text-decoration: underline blue;
    color: blue;
}

#hover-here:hover {
    text-decoration: underline rgb(248, 236, 72);
    color: rgb(248, 236, 72);
}

.icons {
    text-align: center;
    padding: 3rem;
}

.works-container{
    margin: auto;
}